.expText {
    font-family: Tahoma;
    font-size: 13px;
    line-height:170%;
}

.modal {
    top:50px;
    left:0px;
    right:0px;
    padding:40px;
    border: solid 1px #c0c0c0;
    background-color: #fff;
    position:fixed;
    z-index: 100000;
    visibility:hidden;
}

.header {
    width: 100%;
    padding:10px 50px;
    border-bottom: solid 3px orange;
    background-color: #e1e1e1;
    position: fixed;
    top: 0;
    left: 0;
    display:inline-block;
    z-index: 1000000;
}

.logoBox {
    float:left;
}

.expand {
    position: absolute;
    right: 30px;
    margin-top: -8px;
    font-size: 40px;
    color:gray;
    float:right;
    padding-top:4px;
    font-weight: bold;
    margin-right:110px;
    top:0;
    display:none;
}

.min {
    position: absolute;
    right: 30px;
    margin-top: -8px;
    font-size: 40px;
    color:gray;
    float:right;
    padding-top:3px;
    font-weight: bold;
    margin-right:110px;
    top:0;
    display:none;
}

.hoverModal {
    color:orange;
}

.body {
    position:absolute;
    top:50px;
    padding:40px;
}

.logo {
    height: 35px;
}

.input {
    margin-bottom:20px;
}

.terms {
    margin:30 0;
    border:solid 1px gray;
    padding:20px;
}

.shade {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 100000;
    visibility:hidden;
}

.largeBtn {
    padding:10 100;
}